@font-face{
   font-family: "roboto-light";
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/roboto-light.ttf) format("truetype");
}

body{
    margin-top: 50px;
    background-color: #F2F0E3;
    font-family: roboto-light;
}

a, a:hover, a:focus, a:active, a:visited{
  color:#333;
  text-decoration: none;
}

.time-input .btn-max{
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}

.time-input .btn-min{
    border-top: 0px;
    border-radius: 0px 0px 4px 4px;
}

.time-input input{
    border-radius: 0;
    font-size: 40px;
    height: auto;
}

.logo{
    margin: 0px;
}

.logo img{
    max-width: 321px;
    max-height: 372px;
}

.logo-inicial{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
}

.logo-cargado{
    top:0;
    left:0;
}

#back-button{
  position:absolute;
  left:2%;
  top:2%;
  z-index:9999;
  padding:3px;
  padding-bottom: 0px;
  width: auto;
  font-size:30px;
  text-align: center;
  background-color:#CCC;
  color:#333;
}

#back-button:active{
  background-color:#F06650;
}

.oculto{
    display:none;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

.vertical-center {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.btn, .btn:hover, .btn:active, .btn:focus, .btn:disabled, .btn-default:active:focus, .btn-default:active:hover{
  background-color:transparent;
  border:0;
}

.btn-primary {
  color: #333;
  background-color: #818181;
  border-color: #818181;
  padding-top:30px;
  padding-bottom:30px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #333;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #333;
  background-color: #818181;
  border-color: #818181;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #333;
  background-color: #F06650;
  border-color: #F06650;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #333;
  background-color: #818181;
  border-color: #818181;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #818181;
  border-color: #818181;
}
.btn-primary .badge {
  color: #818181;
  background-color: #333;
}

.form-control{
  background-color:#818181;
  color:#333;
  border-radius:0 0 0 0;
  border-color:#818181;
}

.form-control:focus{
  border-color: #F06650;
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(240, 102, 80, 0.6);
}

.time-input .btn{
  background-color:transparent;
  border:none;
}

.full-alert{
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  color:#FFF;
  z-index:1000;
}

.full-alert .message{
  z-index:100;
  text-shadow:1px 1px 0px #555;
}

.bg-opacity{
  background-color: #000;
  opacity:0.4;
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index:-1;
}

.blur{
  -webkit-filter: blur(2px); /* Chrome, Opera, etc. */
  filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
  filter: blur(2px); /* Firefox 35+, eventually all */
}

.display-none{
  display:none;
}

.amb-conteiner{
  padding-left: 15px;
  padding-right: 15px;
}

.amb .amb-top, 
.amb .amb-bot{
  background-color:#818181;
  padding:0px;
  border:2px solid #818181;
  height:100%;
  min-height: 120px;
}

.amb .amb-bot{
  margin-top:14px;
}

.amb .amb-top .triangle-top{
  position:absolute;
  bottom:-26px;
  font-size:24px;
  text-align: center;
  width: 100%;
  color:#818181;
}

.amb .amb-bot .triangle-bot{
  position:absolute;
  top:-13px;
  font-size:24px;
  text-align: center;
  width: 100%;
  color:#F2F0E3;
}

.amb .amb-bot .triangle-top{
  position:absolute;
  top:-23px;
  font-size:24px;
  text-align: center;
  width: 100%;
  color:#818181;
}

.amb .amb-top .triangle-bot{
  position:absolute;
  bottom:-15px;
  font-size:24px;
  text-align: center;
  width: 100%;
  color:#F2F0E3;
}

.amb h3{
  padding-top:23px;
  padding-bottom:35px;
  text-align: center;
}

.option {
  position:relative;
  width: 80px;
}
.option img {
  max-height: 80px;
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.option img.transparent {
opacity:0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.circle{
  color:#FFF;
  width: 100px;
  height: 100px;
  border:8px solid #FFF;
  border-radius:50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 55px;
  display:block;
  margin-left:auto;
  margin-right: auto;
}

.play{
  background-image:url(../img/play.png);
}

.pause{
  border-color:#000;
  background-image:url(../img/pause.png);
}

.okay{
  font-size:45px;
  padding-top:12px;
  display:none;
}

#timer{
  color:#F06650;
  margin-top:10px;
}

.estrella{
  color:#444;
  font-size:60px;
  font-weight: lighter;
}